{% extends 'base2.html' %}

{% block title%}
<p>Contact</p>
{% endblock title%}


<div class="row">
    <div class="col-3 border-right"> <!-- Left-side column with border -->
        <h3>Sidebar</h3>
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>
    </div>
    <div class="col-9"> <!-- Right-side content -->
        <h1>Main Content</h1>
        <p>This is the main content of the page. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac libero vel lectus facilisis consectetur.</p>
    </div>
</div>
</div>