{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title%}
<p>Gestion des Abonnements</p>
{% endblock title%}


{% block content %}
<div class="container">
  <!-- Section "Suivre d'autres utilisateurs" -->

  <form method="POST" , class="card p-3 mt-5" autocomplete="off">
    {% csrf_token %}

    {{ form|crispy }} 
    <button type="submit" class="btn btn-outline-primary mt-3" style="width: 90px;">Suivre</button>
     <!-- Message from Backend -->
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  </form>
</div>
  <!-- Résultats de la recherche et bouton pour suivre l'utilisateur -->
  <!-- Insérez ici le code pour afficher les résultats de la recherche -->

  <!-- Section "Abonnements" -->
<div class="container">
  <hr>
  <h2>Abonnements</h2>
  <ul>
    {% for subscription in user.follows.all %}
      <li>
        <span>{{ subscription.username }}</span>
      </li>
    {% endfor %}
  </ul>
</div>

  <!-- Section "Abonnés" -->
<div class="container">
  <hr>
  <h2>Abonnés</h2>
  <ul>
    {% for follower in user.subscribers.all %}
      <li>
        <span>{{ follower.username }}</span>
        <!-- Vous pouvez afficher d'autres informations sur les abonnés si nécessaire -->
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock content %}
