{% load crispy_forms_tags %}

{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'authentication/styles.css' %}" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Signup</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- <h1 class="logo">LITRevu</h1> -->

      <div class="container main">
        <div class="row">
          <div class="col-md-6 side-image">
            <!-------------      image     ------------->

            <div class="text">
              <p>Join the community of Reviewers <i>- LITRevu</i></p>
            </div>
          </div>

          <div class="col-md-6 right">
            <!-------------      form     ------------->
            <div class="input-box">
              <header>Inscrivez-vous</header>
              <form method="post">
                {% csrf_token %}
                {{ form|crispy }} 
                <div class="input-field">
                  <input type="submit" class="submit" value="Se Connecter" />
                </div>
              </form>
              
              <div class="signin">
                <span
                  >Vous avez un compte? <a href="{% url 'authentication:login' %}">Connectez-vous ici</a></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

