{% extends 'authentication/base.html' %} {% load crispy_forms_tags %} 


{% block content %}
<!-------------      form     ------------->
<div class="input-box">
  <header>Inscrivez-vous</header>
  <form method="post">
    {% csrf_token %} {{ form|crispy }}
    <div class="input-field">
      <input type="submit" class="submit" value="Se Connecter" />
    </div>
  </form>

  <div class="signin">
    <span
      >Vous avez un compte?
      <a href="{% url 'authentication:login' %}">Connectez-vous ici</a></span
    >
  </div>
</div>
{% endblock content %}
