{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>LITRevu</title>
        <link rel="stylesheet" href="{% static 'app.css' %}">
    </head>
    <body>
        <div class="sidebar">
            <h1>LITRevu</h1>
        


            {% if user.is_authenticated %}
                <p>Salut, {{ user }} !</p>
                {% if user.profile_photo %}
                    <img class="avatar" src={{ user.profile_photo.url }}>
                {% else %}
                    <img class="avatar" src="{% static 'images/default_profile.png'%}">
                {% endif %}
                
                <p><a href="{% url 'review:home' %}">Home</a></p>
                <p><a href="{% url 'review:about' %}">About</a></p>
                <p><a href="{% url 'review:contact' %}">Contact</a></p>

                <p><a href="{% url 'authentication:logout' %}">Se déconnecter</a></p>
            {% endif %}
        </div>
        <div class="main">
            {% block content %}{% endblock content %}
            
            {% if user.is_authenticated %}
            {% block title%}
            {% endblock title%}</p>
        {% endif %}
        </div>


   
    </body>
</html>
